<div class="wt-haslayout wt-bannerholder">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="wt-bannerassets/images">
                    <figure class="wt-bannermanimg" data-tilt>
                        <img src="assets/images/bannerimg/img-01.png" alt="img description">
                        <img src="assets/images/bannerimg/img-02.png" class="wt-bannermanimgone" alt="img description">
                        <img src="assets/images/bannerimg/img-03.png" class="wt-bannermanimgtwo" alt="img description">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="wt-bannercontent">
                    <div class="wt-bannerhead">
                        <div class="wt-title">
                            <h1><span>Hire expert freelancers</span> for any job, Online</h1>
                        </div>
                        <div class="wt-description">
                            <p>Consectetur adipisicing elit sed dotem eiusmod tempor incuntes ut labore etdolore maigna aliqua enim.</p>
                        </div>
                    </div>
                    <form class="wt-formtheme wt-formbanner">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name="fullname" class="form-control" placeholder="I’m looking for">
                                <div class="wt-formoptions">
                                    <div class="wt-dropdown">
                                        <span>In: <em class="selected-search-type">Freelancers </em><i class="lnr lnr-chevron-down"></i></span>
                                    </div>
                                    <div class="wt-radioholder">
                                        <span class="wt-radio">
                                            <input id="wt-freelancers" data-title="Freelancers" type="radio" name="searchtype" value="freelancer" checked>
                                            <label for="wt-freelancers">Freelancers</label>
                                        </span>
                                        <span class="wt-radio">
                                            <input id="wt-jobs"  data-title="Jobs" type="radio" name="searchtype" value="job">
                                            <label for="wt-jobs">Jobs</label>
                                        </span>
                                        <span class="wt-radio">
                                            <input id="wt-company"  data-title="Companies" type="radio" name="searchtype" value="job">
                                            <label for="wt-company">Companies</label>
                                        </span>
                                    </div>
                                    <a href="userlisting.html" class="wt-searchbtn"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="wt-videoholder">
                        <div class="wt-videoshow">
                            <a data-rel="prettyPhoto[video]" href="https://www.youtube.com/watch?v=J37W6DjqT3Q"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="wt-videocontent">
                            <span>See For Yourself!<em>How it works &amp; experience the ultimate joy.</em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>